In [18]:
############## check dates that are not downloaded and download the data ###########

data_folder = '/Users/edwardamoah/Documents/GitHub/OsmiaPopModel/data/prism/'

In [19]:
import os

In [20]:
files = os.listdir(data_folder)

In [21]:
data_type = []
date = []
for file in files:
    try:
        if len(file.split('_')) > 3:
            data_type.append(file.split('_')[1])
            date.append(file.split('_')[4])
    except IndexError:
        print("Error: Invalid file format")

In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame({'data_type':data_type, 'date':date})

In [24]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

In [25]:
df

      data_type       date
0           ppt 2021-09-11
1           ppt 2010-02-04
2           ppt 2009-06-03
3           ppt 2014-06-20
4           ppt 2008-04-10
...         ...        ...
10223     tmean 2021-01-12
10224       ppt 2010-11-03
10225       ppt 2008-04-09
10226       ppt 2017-09-22
10227       ppt 2021-09-08

[10228 rows x 2 columns]

In [26]:
import pandas as pd

start_date = '2008-01-01'
end_date = '2021-12-31'

dates = pd.date_range(start=start_date, end=end_date, freq='D')

In [27]:
dates.tolist()

[Timestamp('2008-01-01 00:00:00'),
 Timestamp('2008-01-02 00:00:00'),
 Timestamp('2008-01-03 00:00:00'),
 Timestamp('2008-01-04 00:00:00'),
 Timestamp('2008-01-05 00:00:00'),
 Timestamp('2008-01-06 00:00:00'),
 Timestamp('2008-01-07 00:00:00'),
 Timestamp('2008-01-08 00:00:00'),
 Timestamp('2008-01-09 00:00:00'),
 Timestamp('2008-01-10 00:00:00'),
 Timestamp('2008-01-11 00:00:00'),
 Timestamp('2008-01-12 00:00:00'),
 Timestamp('2008-01-13 00:00:00'),
 Timestamp('2008-01-14 00:00:00'),
 Timestamp('2008-01-15 00:00:00'),
 Timestamp('2008-01-16 00:00:00'),
 Timestamp('2008-01-17 00:00:00'),
 Timestamp('2008-01-18 00:00:00'),
 Timestamp('2008-01-19 00:00:00'),
 Timestamp('2008-01-20 00:00:00'),
 Timestamp('2008-01-21 00:00:00'),
 Timestamp('2008-01-22 00:00:00'),
 Timestamp('2008-01-23 00:00:00'),
 Timestamp('2008-01-24 00:00:00'),
 Timestamp('2008-01-25 00:00:00'),
 Timestamp('2008-01-26 00:00:00'),
 Timestamp('2008-01-27 00:00:00'),
 Timestamp('2008-01-28 00:00:00'),
 Timestamp('2008-01-29 00:00:00'),
 Timestamp('2008-01-30 00:00:00'),
 Timestamp('2008-01-31 00:00:00'),
 Timestamp('2008-02-01 00:00:00'),
 Timestamp('2008-02-02 00:00:00'),
 Timestamp('2008-02-03 00:00:00'),
 Timestamp('2008-02-04 00:00:00'),
 Timestamp('2008-02-05 00:00:00'),
 Timestamp('2008-02-06 00:00:00'),
 Timestamp('2008-02-07 00:00:00'),
 Timestamp('2008-02-08 00:00:00'),
 Timestamp('2008-02-09 00:00:00'),
 Timestamp('2008-02-10 00:00:00'),
 Timestamp('2008-02-11 00:00:00'),
 Timestamp('2008-02-12 00:00:00'),
 Timestamp('2008-02-13 00:00:00'),
 Timestamp('2008-02-14 00:00:00'),
 Timestamp('2008-02-15 00:00:00'),
 Timestamp('2008-02-16 00:00:00'),
 Timestamp('2008-02-17 00:00:00'),
 Timestamp('2008-02-18 00:00:00'),
 Timestamp('2008-02-19 00:00:00'),
 Timestamp('2008-02-20 00:00:00'),
 Timestamp('2008-02-21 00:00:00'),
 Timestamp('2008-02-22 00:00:00'),
 Timestamp('2008-02-23 00:00:00'),
 Timestamp('2008-02-24 00:00:00'),
 Timestamp('2008-02-25 00:00:00'),
 Timestamp('2008-02-26 00:00:00'),
 Timestamp('2008-02-27 00:00:00'),
 Timestamp('2008-02-28 00:00:00'),
 Timestamp('2008-02-29 00:00:00'),
 Timestamp('2008-03-01 00:00:00'),
 Timestamp('2008-03-02 00:00:00'),
 Timestamp('2008-03-03 00:00:00'),
 Timestamp('2008-03-04 00:00:00'),
 Timestamp('2008-03-05 00:00:00'),
 Timestamp('2008-03-06 00:00:00'),
 Timestamp('2008-03-07 00:00:00'),
 Timestamp('2008-03-08 00:00:00'),
 Timestamp('2008-03-09 00:00:00'),
 Timestamp('2008-03-10 00:00:00'),
 Timestamp('2008-03-11 00:00:00'),
 Timestamp('2008-03-12 00:00:00'),
 Timestamp('2008-03-13 00:00:00'),
 Timestamp('2008-03-14 00:00:00'),
 Timestamp('2008-03-15 00:00:00'),
 Timestamp('2008-03-16 00:00:00'),
 Timestamp('2008-03-17 00:00:00'),
 Timestamp('2008-03-18 00:00:00'),
 Timestamp('2008-03-19 00:00:00'),
 Timestamp('2008-03-20 00:00:00'),
 Timestamp('2008-03-21 00:00:00'),
 Timestamp('2008-03-22 00:00:00'),
 Timestamp('2008-03-23 00:00:00'),
 Timestamp('2008-03-24 00:00:00'),
 Timestamp('2008-03-25 00:00:00'),
 Timestamp('2008-03-26 00:00:00'),
 Timestamp('2008-03-27 00:00:00'),
 Timestamp('2008-03-28 00:00:00'),
 Timestamp('2008-03-29 00:00:00'),
 Timestamp('2008-03-30 00:00:00'),
 Timestamp('2008-03-31 00:00:00'),
 Timestamp('2008-04-01 00:00:00'),
 Timestamp('2008-04-02 00:00:00'),
 Timestamp('2008-04-03 00:00:00'),
 Timestamp('2008-04-04 00:00:00'),
 Timestamp('2008-04-05 00:00:00'),
 Timestamp('2008-04-06 00:00:00'),
 Timestamp('2008-04-07 00:00:00'),
 Timestamp('2008-04-08 00:00:00'),
 Timestamp('2008-04-09 00:00:00'),
 Timestamp('2008-04-10 00:00:00'),
 Timestamp('2008-04-11 00:00:00'),
 Timestamp('2008-04-12 00:00:00'),
 Timestamp('2008-04-13 00:00:00'),
 Timestamp('2008-04-14 00:00:00'),
 Timestamp('2008-04-15 00:00:00'),
 Timestamp('2008-04-16 00:00:00'),
 Timestamp('2008-04-17 00:00:00'),
 Timestamp('2008-04-18 00:00:00'),
 Timestamp('2008-04-19 00:00:00'),
 Timestamp('2008-04-20 00:00:00'),
 Timestamp('2008-04-21 00:00:00'),
 Timestamp('2008-04-22 00:00:00'),
 Timestamp('2008-04-23 00:00:00'),
 Timestamp('2008-04-24 00:00:00'),
 Timestamp('2008-04-25 00:00:00'),
 Timestamp('2008-04-26 00:00:00'),
 Timestamp('2008-04-27 00:00:00'),
 Timestamp('2008-04-28 00:00:00'),
 Timestamp('2008-04-29 00:00:00'),
 Timestamp('2008-04-30 00:00:00'),
 Timestamp('2008-05-01 00:00:00'),
 Timestamp('2008-05-02 00:00:00'),
 Timestamp('2008-05-03 00:00:00'),
 Timestamp('2008-05-04 00:00:00'),
 Timestamp('2008-05-05 00:00:00'),
 Timestamp('2008-05-06 00:00:00'),
 Timestamp('2008-05-07 00:00:00'),
 Timestamp('2008-05-08 00:00:00'),
 Timestamp('2008-05-09 00:00:00'),
 Timestamp('2008-05-10 00:00:00'),
 Timestamp('2008-05-11 00:00:00'),
 Timestamp('2008-05-12 00:00:00'),
 Timestamp('2008-05-13 00:00:00'),
 Timestamp('2008-05-14 00:00:00'),
 Timestamp('2008-05-15 00:00:00'),
 Timestamp('2008-05-16 00:00:00'),
 Timestamp('2008-05-17 00:00:00'),
 Timestamp('2008-05-18 00:00:00'),
 Timestamp('2008-05-19 00:00:00'),
 Timestamp('2008-05-20 00:00:00'),
 Timestamp('2008-05-21 00:00:00'),
 Timestamp('2008-05-22 00:00:00'),
 Timestamp('2008-05-23 00:00:00'),
 Timestamp('2008-05-24 00:00:00'),
 Timestamp('2008-05-25 00:00:00'),
 Timestamp('2008-05-26 00:00:00'),
 Timestamp('2008-05-27 00:00:00'),
 Timestamp('2008-05-28 00:00:00'),
 Timestamp('2008-05-29 00:00:00'),
 Timestamp('2008-05-30 00:00:00'),
 Timestamp('2008-05-31 00:00:00'),
 Timestamp('2008-06-01 00:00:00'),
 Timestamp('2008-06-02 00:00:00'),
 Timestamp('2008-06-03 00:00:00'),
 Timestamp('2008-06-04 00:00:00'),
 Timestamp('2008-06-05 00:00:00'),
 Timestamp('2008-06-06 00:00:00'),
 Timestamp('2008-06-07 00:00:00'),
 Timestamp('2008-06-08 00:00:00'),
 Timestamp('2008-06-09 00:00:00'),
 Timestamp('2008-06-10 00:00:00'),
 Timestamp('2008-06-11 00:00:00'),
 Timestamp('2008-06-12 00:00:00'),
 Timestamp('2008-06-13 00:00:00'),
 Timestamp('2008-06-14 00:00:00'),
 Timestamp('2008-06-15 00:00:00'),
 Timestamp('2008-06-16 00:00:00'),
 Timestamp('2008-06-17 00:00:00'),
 Timestamp('2008-06-18 00:00:00'),
 Timestamp('2008-06-19 00:00:00'),
 Timestamp('2008-06-20 00:00:00'),
 Timestamp('2008-06-21 00:00:00'),
 Timestamp('2008-06-22 00:00:00'),
 Timestamp('2008-06-23 00:00:00'),
 Timestamp('2008-06-24 00:00:00'),
 Timestamp('2008-06-25 00:00:00'),
 Timestamp('2008-06-26 00:00:00'),
 Timestamp('2008-06-27 00:00:00'),
 Timestamp('2008-06-28 00:00:00'),
 Timestamp('2008-06-29 00:00:00'),
 Timestamp('2008-06-30 00:00:00'),
 Timestamp('2008-07-01 00:00:00'),
 Timestamp('2008-07-02 00:00:00'),
 Timestamp('2008-07-03 00:00:00'),
 Timestamp('2008-07-04 00:00:00'),
 Timestamp('2008-07-05 00:00:00'),
 Timestamp('2008-07-06 00:00:00'),
 Timestamp('2008-07-07 00:00:00'),
 Timestamp('2008-07-08 00:00:00'),
 Timestamp('2008-07-09 00:00:00'),
 Timestamp('2008-07-10 00:00:00'),
 Timestamp('2008-07-11 00:00:00'),
 Timestamp('2008-07-12 00:00:00'),
 Timestamp('2008-07-13 00:00:00'),
 Timestamp('2008-07-14 00:00:00'),
 Timestamp('2008-07-15 00:00:00'),
 Timestamp('2008-07-16 00:00:00'),
 Timestamp('2008-07-17 00:00:00'),
 Timestamp('2008-07-18 00:00:00'),
 Timestamp('2008-07-19 00:00:00'),
 Timestamp('2008-07-20 00:00:00'),
 Timestamp('2008-07-21 00:00:00'),
 Timestamp('2008-07-22 00:00:00'),
 Timestamp('2008-07-23 00:00:00'),
 Timestamp('2008-07-24 00:00:00'),
 Timestamp('2008-07-25 00:00:00'),
 Timestamp('2008-07-26 00:00:00'),
 Timestamp('2008-07-27 00:00:00'),
 Timestamp('2008-07-28 00:00:00'),
 Timestamp('2008-07-29 00:00:00'),
 Timestamp('2008-07-30 00:00:00'),
 Timestamp('2008-07-31 00:00:00'),
 Timestamp('2008-08-01 00:00:00'),
 Timestamp('2008-08-02 00:00:00'),
 Timestamp('2008-08-03 00:00:00'),
 Timestamp('2008-08-04 00:00:00'),
 Timestamp('2008-08-05 00:00:00'),
 Timestamp('2008-08-06 00:00:00'),
 Timestamp('2008-08-07 00:00:00'),
 Timestamp('2008-08-08 00:00:00'),
 Timestamp('2008-08-09 00:00:00'),
 Timestamp('2008-08-10 00:00:00'),
 Timestamp('2008-08-11 00:00:00'),
 Timestamp('2008-08-12 00:00:00'),
 Timestamp('2008-08-13 00:00:00'),
 Timestamp('2008-08-14 00:00:00'),
 Timestamp('2008-08-15 00:00:00'),
 Timestamp('2008-08-16 00:00:00'),
 Timestamp('2008-08-17 00:00:00'),
 Timestamp('2008-08-18 00:00:00'),
 Timestamp('2008-08-19 00:00:00'),
 Timestamp('2008-08-20 00:00:00'),
 Timestamp('2008-08-21 00:00:00'),
 Timestamp('2008-08-22 00:00:00'),
 Timestamp('2008-08-23 00:00:00'),
 Timestamp('2008-08-24 00:00:00'),
 Timestamp('2008-08-25 00:00:00'),
 Timestamp('2008-08-26 00:00:00'),
 Timestamp('2008-08-27 00:00:00'),
 Timestamp('2008-08-28 00:00:00'),
 Timestamp('2008-08-29 00:00:00'),
 Timestamp('2008-08-30 00:00:00'),
 Timestamp('2008-08-31 00:00:00'),
 Timestamp('2008-09-01 00:00:00'),
 Timestamp('2008-09-02 00:00:00'),
 Timestamp('2008-09-03 00:00:00'),
 Timestamp('2008-09-04 00:00:00'),
 Timestamp('2008-09-05 00:00:00'),
 Timestamp('2008-09-06 00:00:00'),
 Timestamp('2008-09-07 00:00:00'),
 Timestamp('2008-09-08 00:00:00'),
 Timestamp('2008-09-09 00:00:00'),
 Timestamp('2008-09-10 00:00:00'),
 Timestamp('2008-09-11 00:00:00'),
 Timestamp('2008-09-12 00:00:00'),
 Timestamp('2008-09-13 00:00:00'),
 Timestamp('2008-09-14 00:00:00'),
 Timestamp('2008-09-15 00:00:00'),
 Timestamp('2008-09-16 00:00:00'),
 Timestamp('2008-09-17 00:00:00'),
 Timestamp('2008-09-18 00:00:00'),
 Timestamp('2008-09-19 00:00:00'),
 Timestamp('2008-09-20 00:00:00'),
 Timestamp('2008-09-21 00:00:00'),
 Timestamp('2008-09-22 00:00:00'),
 Timestamp('2008-09-23 00:00:00'),
 Timestamp('2008-09-24 00:00:00'),
 Timestamp('2008-09-25 00:00:00'),
 Timestamp('2008-09-26 00:00:00'),
 Timestamp('2008-09-27 00:00:00'),
 Timestamp('2008-09-28 00:00:00'),
 Timestamp('2008-09-29 00:00:00'),
 Timestamp('2008-09-30 00:00:00'),
 Timestamp('2008-10-01 00:00:00'),
 Timestamp('2008-10-02 00:00:00'),
 Timestamp('2008-10-03 00:00:00'),
 Timestamp('2008-10-04 00:00:00'),
 Timestamp('2008-10-05 00:00:00'),
 Timestamp('2008-10-06 00:00:00'),
 Timestamp('2008-10-07 00:00:00'),
 Timestamp('2008-10-08 00:00:00'),
 Timestamp('2008-10-09 00:00:00'),
 Timestamp('2008-10-10 00:00:00'),
 Timestamp('2008-10-11 00:00:00'),
 Timestamp('2008-10-12 00:00:00'),
 Timestamp('2008-10-13 00:00:00'),
 Timestamp('2008-10-14 00:00:00'),
 Timestamp('2008-10-15 00:00:00'),
 Timestamp('2008-10-16 00:00:00'),
 Timestamp('2008-10-17 00:00:00'),
 Timestamp('2008-10-18 00:00:00'),
 Timestamp('2008-10-19 00:00:00'),
 Timestamp('2008-10-20 00:00:00'),
 Timestamp('2008-10-21 00:00:00'),
 Timestamp('2008-10-22 00:00:00'),
 Timestamp('2008-10-23 00:00:00'),
 Timestamp('2008-10-24 00:00:00'),
 Timestamp('2008-10-25 00:00:00'),
 Timestamp('2008-10-26 00:00:00'),
 Timestamp('2008-10-27 00:00:00'),
 Timestamp('2008-10-28 00:00:00'),
 Timestamp('2008-10-29 00:00:00'),
 Timestamp('2008-10-30 00:00:00'),
 Timestamp('2008-10-31 00:00:00'),
 Timestamp('2008-11-01 00:00:00'),
 Timestamp('2008-11-02 00:00:00'),
 Timestamp('2008-11-03 00:00:00'),
 Timestamp('2008-11-04 00:00:00'),
 Timestamp('2008-11-05 00:00:00'),
 Timestamp('2008-11-06 00:00:00'),
 Timestamp('2008-11-07 00:00:00'),
 Timestamp('2008-11-08 00:00:00'),
 Timestamp('2008-11-09 00:00:00'),
 Timestamp('2008-11-10 00:00:00'),
 Timestamp('2008-11-11 00:00:00'),
 Timestamp('2008-11-12 00:00:00'),
 Timestamp('2008-11-13 00:00:00'),
 Timestamp('2008-11-14 00:00:00'),
 Timestamp('2008-11-15 00:00:00'),
 Timestamp('2008-11-16 00:00:00'),
 Timestamp('2008-11-17 00:00:00'),
 Timestamp('2008-11-18 00:00:00'),
 Timestamp('2008-11-19 00:00:00'),
 Timestamp('2008-11-20 00:00:00'),
 Timestamp('2008-11-21 00:00:00'),
 Timestamp('2008-11-22 00:00:00'),
 Timestamp('2008-11-23 00:00:00'),
 Timestamp('2008-11-24 00:00:00'),
 Timestamp('2008-11-25 00:00:00'),
 Timestamp('2008-11-26 00:00:00'),
 Timestamp('2008-11-27 00:00:00'),
 Timestamp('2008-11-28 00:00:00'),
 Timestamp('2008-11-29 00:00:00'),
 Timestamp('2008-11-30 00:00:00'),
 Timestamp('2008-12-01 00:00:00'),
 Timestamp('2008-12-02 00:00:00'),
 Timestamp('2008-12-03 00:00:00'),
 Timestamp('2008-12-04 00:00:00'),
 Timestamp('2008-12-05 00:00:00'),
 Timestamp('2008-12-06 00:00:00'),
 Timestamp('2008-12-07 00:00:00'),
 Timestamp('2008-12-08 00:00:00'),
 Timestamp('2008-12-09 00:00:00'),
 Timestamp('2008-12-10 00:00:00'),
 Timestamp('2008-12-11 00:00:00'),
 Timestamp('2008-12-12 00:00:00'),
 Timestamp('2008-12-13 00:00:00'),
 Timestamp('2008-12-14 00:00:00'),
 Timestamp('2008-12-15 00:00:00'),
 Timestamp('2008-12-16 00:00:00'),
 Timestamp('2008-12-17 00:00:00'),
 Timestamp('2008-12-18 00:00:00'),
 Timestamp('2008-12-19 00:00:00'),
 Timestamp('2008-12-20 00:00:00'),
 Timestamp('2008-12-21 00:00:00'),
 Timestamp('2008-12-22 00:00:00'),
 Timestamp('2008-12-23 00:00:00'),
 Timestamp('2008-12-24 00:00:00'),
 Timestamp('2008-12-25 00:00:00'),
 Timestamp('2008-12-26 00:00:00'),
 Timestamp('2008-12-27 00:00:00'),
 Timestamp('2008-12-28 00:00:00'),
 Timestamp('2008-12-29 00:00:00'),
 Timestamp('2008-12-30 00:00:00'),
 Timestamp('2008-12-31 00:00:00'),
 Timestamp('2009-01-01 00:00:00'),
 Timestamp('2009-01-02 00:00:00'),
 Timestamp('2009-01-03 00:00:00'),
 Timestamp('2009-01-04 00:00:00'),
 Timestamp('2009-01-05 00:00:00'),
 Timestamp('2009-01-06 00:00:00'),
 Timestamp('2009-01-07 00:00:00'),
 Timestamp('2009-01-08 00:00:00'),
 Timestamp('2009-01-09 00:00:00'),
 Timestamp('2009-01-10 00:00:00'),
 Timestamp('2009-01-11 00:00:00'),
 Timestamp('2009-01-12 00:00:00'),
 Timestamp('2009-01-13 00:00:00'),
 Timestamp('2009-01-14 00:00:00'),
 Timestamp('2009-01-15 00:00:00'),
 Timestamp('2009-01-16 00:00:00'),
 Timestamp('2009-01-17 00:00:00'),
 Timestamp('2009-01-18 00:00:00'),
 Timestamp('2009-01-19 00:00:00'),
 Timestamp('2009-01-20 00:00:00'),
 Timestamp('2009-01-21 00:00:00'),
 Timestamp('2009-01-22 00:00:00'),
 Timestamp('2009-01-23 00:00:00'),
 Timestamp('2009-01-24 00:00:00'),
 Timestamp('2009-01-25 00:00:00'),
 Timestamp('2009-01-26 00:00:00'),
 Timestamp('2009-01-27 00:00:00'),
 Timestamp('2009-01-28 00:00:00'),
 Timestamp('2009-01-29 00:00:00'),
 Timestamp('2009-01-30 00:00:00'),
 Timestamp('2009-01-31 00:00:00'),
 Timestamp('2009-02-01 00:00:00'),
 Timestamp('2009-02-02 00:00:00'),
 Timestamp('2009-02-03 00:00:00'),
 Timestamp('2009-02-04 00:00:00'),
 Timestamp('2009-02-05 00:00:00'),
 Timestamp('2009-02-06 00:00:00'),
 Timestamp('2009-02-07 00:00:00'),
 Timestamp('2009-02-08 00:00:00'),
 Timestamp('2009-02-09 00:00:00'),
 Timestamp('2009-02-10 00:00:00'),
 Timestamp('2009-02-11 00:00:00'),
 Timestamp('2009-02-12 00:00:00'),
 Timestamp('2009-02-13 00:00:00'),
 Timestamp('2009-02-14 00:00:00'),
 Timestamp('2009-02-15 00:00:00'),
 Timestamp('2009-02-16 00:00:00'),
 Timestamp('2009-02-17 00:00:00'),
 Timestamp('2009-02-18 00:00:00'),
 Timestamp('2009-02-19 00:00:00'),
 Timestamp('2009-02-20 00:00:00'),
 Timestamp('2009-02-21 00:00:00'),
 Timestamp('2009-02-22 00:00:00'),
 Timestamp('2009-02-23 00:00:00'),
 Timestamp('2009-02-24 00:00:00'),
 Timestamp('2009-02-25 00:00:00'),
 Timestamp('2009-02-26 00:00:00'),
 Timestamp('2009-02-27 00:00:00'),
 Timestamp('2009-02-28 00:00:00'),
 Timestamp('2009-03-01 00:00:00'),
 Timestamp('2009-03-02 00:00:00'),
 Timestamp('2009-03-03 00:00:00'),
 Timestamp('2009-03-04 00:00:00'),
 Timestamp('2009-03-05 00:00:00'),
 Timestamp('2009-03-06 00:00:00'),
 Timestamp('2009-03-07 00:00:00'),
 Timestamp('2009-03-08 00:00:00'),
 Timestamp('2009-03-09 00:00:00'),
 Timestamp('2009-03-10 00:00:00'),
 Timestamp('2009-03-11 00:00:00'),
 Timestamp('2009-03-12 00:00:00'),
 Timestamp('2009-03-13 00:00:00'),
 Timestamp('2009-03-14 00:00:00'),
 Timestamp('2009-03-15 00:00:00'),
 Timestamp('2009-03-16 00:00:00'),
 Timestamp('2009-03-17 00:00:00'),
 Timestamp('2009-03-18 00:00:00'),
 Timestamp('2009-03-19 00:00:00'),
 Timestamp('2009-03-20 00:00:00'),
 Timestamp('2009-03-21 00:00:00'),
 Timestamp('2009-03-22 00:00:00'),
 Timestamp('2009-03-23 00:00:00'),
 Timestamp('2009-03-24 00:00:00'),
 Timestamp('2009-03-25 00:00:00'),
 Timestamp('2009-03-26 00:00:00'),
 Timestamp('2009-03-27 00:00:00'),
 Timestamp('2009-03-28 00:00:00'),
 Timestamp('2009-03-29 00:00:00'),
 Timestamp('2009-03-30 00:00:00'),
 Timestamp('2009-03-31 00:00:00'),
 Timestamp('2009-04-01 00:00:00'),
 Timestamp('2009-04-02 00:00:00'),
 Timestamp('2009-04-03 00:00:00'),
 Timestamp('2009-04-04 00:00:00'),
 Timestamp('2009-04-05 00:00:00'),
 Timestamp('2009-04-06 00:00:00'),
 Timestamp('2009-04-07 00:00:00'),
 Timestamp('2009-04-08 00:00:00'),
 Timestamp('2009-04-09 00:00:00'),
 Timestamp('2009-04-10 00:00:00'),
 Timestamp('2009-04-11 00:00:00'),
 Timestamp('2009-04-12 00:00:00'),
 Timestamp('2009-04-13 00:00:00'),
 Timestamp('2009-04-14 00:00:00'),
 Timestamp('2009-04-15 00:00:00'),
 Timestamp('2009-04-16 00:00:00'),
 Timestamp('2009-04-17 00:00:00'),
 Timestamp('2009-04-18 00:00:00'),
 Timestamp('2009-04-19 00:00:00'),
 Timestamp('2009-04-20 00:00:00'),
 Timestamp('2009-04-21 00:00:00'),
 Timestamp('2009-04-22 00:00:00'),
 Timestamp('2009-04-23 00:00:00'),
 Timestamp('2009-04-24 00:00:00'),
 Timestamp('2009-04-25 00:00:00'),
 Timestamp('2009-04-26 00:00:00'),
 Timestamp('2009-04-27 00:00:00'),
 Timestamp('2009-04-28 00:00:00'),
 Timestamp('2009-04-29 00:00:00'),
 Timestamp('2009-04-30 00:00:00'),
 Timestamp('2009-05-01 00:00:00'),
 Timestamp('2009-05-02 00:00:00'),
 Timestamp('2009-05-03 00:00:00'),
 Timestamp('2009-05-04 00:00:00'),
 Timestamp('2009-05-05 00:00:00'),
 Timestamp('2009-05-06 00:00:00'),
 Timestamp('2009-05-07 00:00:00'),
 Timestamp('2009-05-08 00:00:00'),
 Timestamp('2009-05-09 00:00:00'),
 Timestamp('2009-05-10 00:00:00'),
 Timestamp('2009-05-11 00:00:00'),
 Timestamp('2009-05-12 00:00:00'),
 Timestamp('2009-05-13 00:00:00'),
 Timestamp('2009-05-14 00:00:00'),
 Timestamp('2009-05-15 00:00:00'),
 Timestamp('2009-05-16 00:00:00'),
 Timestamp('2009-05-17 00:00:00'),
 Timestamp('2009-05-18 00:00:00'),
 Timestamp('2009-05-19 00:00:00'),
 Timestamp('2009-05-20 00:00:00'),
 Timestamp('2009-05-21 00:00:00'),
 Timestamp('2009-05-22 00:00:00'),
 Timestamp('2009-05-23 00:00:00'),
 Timestamp('2009-05-24 00:00:00'),
 Timestamp('2009-05-25 00:00:00'),
 Timestamp('2009-05-26 00:00:00'),
 Timestamp('2009-05-27 00:00:00'),
 Timestamp('2009-05-28 00:00:00'),
 Timestamp('2009-05-29 00:00:00'),
 Timestamp('2009-05-30 00:00:00'),
 Timestamp('2009-05-31 00:00:00'),
 Timestamp('2009-06-01 00:00:00'),
 Timestamp('2009-06-02 00:00:00'),
 Timestamp('2009-06-03 00:00:00'),
 Timestamp('2009-06-04 00:00:00'),
 Timestamp('2009-06-05 00:00:00'),
 Timestamp('2009-06-06 00:00:00'),
 Timestamp('2009-06-07 00:00:00'),
 Timestamp('2009-06-08 00:00:00'),
 Timestamp('2009-06-09 00:00:00'),
 Timestamp('2009-06-10 00:00:00'),
 Timestamp('2009-06-11 00:00:00'),
 Timestamp('2009-06-12 00:00:00'),
 Timestamp('2009-06-13 00:00:00'),
 Timestamp('2009-06-14 00:00:00'),
 Timestamp('2009-06-15 00:00:00'),
 Timestamp('2009-06-16 00:00:00'),
 Timestamp('2009-06-17 00:00:00'),
 Timestamp('2009-06-18 00:00:00'),
 Timestamp('2009-06-19 00:00:00'),
 Timestamp('2009-06-20 00:00:00'),
 Timestamp('2009-06-21 00:00:00'),
 Timestamp('2009-06-22 00:00:00'),
 Timestamp('2009-06-23 00:00:00'),
 Timestamp('2009-06-24 00:00:00'),
 Timestamp('2009-06-25 00:00:00'),
 Timestamp('2009-06-26 00:00:00'),
 Timestamp('2009-06-27 00:00:00'),
 Timestamp('2009-06-28 00:00:00'),
 Timestamp('2009-06-29 00:00:00'),
 Timestamp('2009-06-30 00:00:00'),
 Timestamp('2009-07-01 00:00:00'),
 Timestamp('2009-07-02 00:00:00'),
 Timestamp('2009-07-03 00:00:00'),
 Timestamp('2009-07-04 00:00:00'),
 Timestamp('2009-07-05 00:00:00'),
 Timestamp('2009-07-06 00:00:00'),
 Timestamp('2009-07-07 00:00:00'),
 Timestamp('2009-07-08 00:00:00'),
 Timestamp('2009-07-09 00:00:00'),
 Timestamp('2009-07-10 00:00:00'),
 Timestamp('2009-07-11 00:00:00'),
 Timestamp('2009-07-12 00:00:00'),
 Timestamp('2009-07-13 00:00:00'),
 Timestamp('2009-07-14 00:00:00'),
 Timestamp('2009-07-15 00:00:00'),
 Timestamp('2009-07-16 00:00:00'),
 Timestamp('2009-07-17 00:00:00'),
 Timestamp('2009-07-18 00:00:00'),
 Timestamp('2009-07-19 00:00:00'),
 Timestamp('2009-07-20 00:00:00'),
 Timestamp('2009-07-21 00:00:00'),
 Timestamp('2009-07-22 00:00:00'),
 Timestamp('2009-07-23 00:00:00'),
 Timestamp('2009-07-24 00:00:00'),

In [28]:
df['date'].tolist()

[Timestamp('2021-09-11 00:00:00'),
 Timestamp('2010-02-04 00:00:00'),
 Timestamp('2009-06-03 00:00:00'),
 Timestamp('2014-06-20 00:00:00'),
 Timestamp('2008-04-10 00:00:00'),
 Timestamp('2021-12-15 00:00:00'),
 Timestamp('2020-10-06 00:00:00'),
 Timestamp('2020-03-18 00:00:00'),
 Timestamp('2017-01-21 00:00:00'),
 Timestamp('2018-04-04 00:00:00'),
 Timestamp('2013-05-05 00:00:00'),
 Timestamp('2019-06-17 00:00:00'),
 Timestamp('2012-07-16 00:00:00'),
 Timestamp('2011-08-19 00:00:00'),
 Timestamp('2016-03-26 00:00:00'),
 Timestamp('2013-05-11 00:00:00'),
 Timestamp('2018-04-10 00:00:00'),
 Timestamp('2012-07-02 00:00:00'),
 Timestamp('2019-06-03 00:00:00'),
 Timestamp('2021-12-01 00:00:00'),
 Timestamp('2020-10-12 00:00:00'),
 Timestamp('2010-02-10 00:00:00'),
 Timestamp('2009-06-17 00:00:00'),
 Timestamp('2008-04-04 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2021-09-05 00:00:00'),
 Timestamp('2017-09-07 00:00:00'),
 Timestamp('2010-11-26 00:00:00'),
 Timestamp('2011-08-31 00:00:00'),
 Timestamp('2016-10-10 00:00:00'),
 Timestamp('2017-12-03 00:00:00'),
 Timestamp('2021-12-29 00:00:00'),
 Timestamp('2020-03-24 00:00:00'),
 Timestamp('2020-03-30 00:00:00'),
 Timestamp('2021-01-23 00:00:00'),
 Timestamp('2017-01-09 00:00:00'),
 Timestamp('2011-08-25 00:00:00'),
 Timestamp('2016-10-04 00:00:00'),
 Timestamp('2017-12-17 00:00:00'),
 Timestamp('2017-09-13 00:00:00'),
 Timestamp('2014-06-08 00:00:00'),
 Timestamp('2017-07-20 00:00:00'),
 Timestamp('2012-12-09 00:00:00'),
 Timestamp('2012-01-17 00:00:00'),
 Timestamp('2009-08-18 00:00:00'),
 Timestamp('2013-03-04 00:00:00'),
 Timestamp('2018-02-05 00:00:00'),
 Timestamp('2020-05-19 00:00:00'),
 Timestamp('2011-06-16 00:00:00'),
 Timestamp('2010-04-05 00:00:00'),
 Timestamp('2008-02-11 00:00:00'),
 Timestamp('2011-06-02 00:00:00'),
 Timestamp('2010-04-11 00:00:00'),
 Timestamp('2015-02-26 00:00:00'),
 Timestamp('2008-02-05 00:00:00'),
 Timestamp('2012-09-19 00:00:00'),
 Timestamp('2019-08-18 00:00:00'),
 Timestamp('2016-05-27 00:00:00'),
 Timestamp('2012-01-03 00:00:00'),
 Timestamp('2018-02-11 00:00:00'),
 Timestamp('2013-03-10 00:00:00'),
 Timestamp('2020-05-25 00:00:00'),
 Timestamp('2018-11-27 00:00:00'),
 Timestamp('2013-10-26 00:00:00'),
 Timestamp('2014-08-07 00:00:00'),
 Timestamp('2009-08-24 00:00:00'),
 Timestamp('2015-11-10 00:00:00'),
 Timestamp('2019-08-30 00:00:00'),
 Timestamp('2008-11-27 00:00:00'),
 Timestamp('2015-11-04 00:00:00'),
 Timestamp('2012-09-25 00:00:00'),
 Timestamp('2019-08-24 00:00:00'),
 Timestamp('2012-12-21 00:00:00'),
 Timestamp('2017-07-08 00:00:00'),
 Timestamp('2009-08-30 00:00:00'),
 Timestamp('2014-08-13 00:00:00'),
 Timestamp('2021-07-22 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2019-04-15 00:00:00'),
 Timestamp('2012-05-14 00:00:00'),
 Timestamp('2018-06-06 00:00:00'),
 Timestamp('2013-07-07 00:00:00'),
 Timestamp('2016-01-30 00:00:00'),
 Timestamp('2017-03-23 00:00:00'),
 Timestamp('2021-03-09 00:00:00'),
 Timestamp('2020-12-04 00:00:00'),
 Timestamp('2021-10-17 00:00:00'),
 Timestamp('2008-06-12 00:00:00'),
 Timestamp('2014-04-22 00:00:00'),
 Timestamp('2009-04-01 00:00:00'),
 Timestamp('2011-02-15 00:00:00'),
 Timestamp('2020-09-14 00:00:00'),
 Timestamp('2015-06-25 00:00:00'),
 Timestamp('2008-06-06 00:00:00'),
 Timestamp('2009-04-15 00:00:00'),
 Timestamp('2011-02-01 00:00:00'),
 Timestamp('2020-12-10 00:00:00'),
 Timestamp('2021-10-03 00:00:00'),
 Timestamp('2019-04-01 00:00:00'),
 Timestamp('2017-10-29 00:00:00'),
 Timestamp('2013-07-13 00:00:00'),
 Timestamp('2018-06-12 00:00:00'),
 Timestamp('2016-01-24 00:00:00'),
 Timestamp('2010-08-08 00:00:00'),
 Timestamp('2020-01-26 00:00:00'),
 Timestamp('2017-10-01 00:00:00'),
 Timestamp('2019-04-29 00:00:00'),
 Timestamp('2012-05-28 00:00:00'),
 Timestamp('2016-12-12 00:00:00'),
 Timestamp('2010-08-20 00:00:00'),
 Timestamp('2016-09-16 00:00:00'),
 Timestamp('2015-06-19 00:00:00'),
 Timestamp('2011-11-23 00:00:00'),
 Timestamp('2009-04-29 00:00:00'),
 Timestamp('2016-09-02 00:00:00'),
 Timestamp('2020-09-28 00:00:00'),
 Timestamp('2017-10-15 00:00:00'),
 Timestamp('2016-12-06 00:00:00'),
 Timestamp('2016-01-18 00:00:00'),
 Timestamp('2021-03-21 00:00:00'),
 Timestamp('2014-02-23 00:00:00'),
 Timestamp('2010-06-07 00:00:00'),
 Timestamp('2011-04-14 00:00:00'),
 Timestamp('2021-05-08 00:00:00'),
 Timestamp('2013-01-06 00:00:00'),
 Timestamp('2008-08-09 00:00:00'),
 Timestamp('2012-03-15 00:00:00'),
 Timestamp('2019-02-14 00:00:00'),
 Timestamp('2017-05-22 00:00:00'),
 Timestamp('2013-12-18 00:00:00'),
 Timestamp('2016-07-31 00:00:00'),
 Timestamp('2013-01-12 00:00:00'),
 Timestamp('2012-03-01 00:00:00'),
 Timestamp('2016-07-25 00:00:00'),
 Timestamp('2009-02-14 00:00:00'),
 Timestamp('2013-09-08 00:00:00'),
 Timestamp('2018-08-09 00:00:00'),
 Timestamp('2010-06-13 00:00:00'),
 Timestamp('2014-11-29 00:00:00'),
 Timestamp('2018-08-21 00:00:00'),
 Timestamp('2013-09-20 00:00:00'),
 Timestamp('2011-04-28 00:00:00'),
 Timestamp('2014-11-01 00:00:00'),
 Timestamp('2009-11-22 00:00:00'),
 Timestamp('2015-08-16 00:00:00'),
 Timestamp('2012-03-29 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2013-12-24 00:00:00'),
 Timestamp('2020-07-27 00:00:00'),
 Timestamp('2021-05-20 00:00:00'),
 Timestamp('2008-08-21 00:00:00'),
 Timestamp('2015-08-02 00:00:00'),
 Timestamp('2012-10-23 00:00:00'),
 Timestamp('2019-11-22 00:00:00'),
 Timestamp('2016-07-19 00:00:00'),
 Timestamp('2013-12-30 00:00:00'),
 Timestamp('2009-02-28 00:00:00'),
 Timestamp('2014-11-15 00:00:00'),
 Timestamp('2009-02-13 00:00:00'),
 Timestamp('2011-04-07 00:00:00'),
 Timestamp('2010-06-14 00:00:00'),
 Timestamp('2020-07-08 00:00:00'),
 Timestamp('2012-03-06 00:00:00'),
 Timestamp('2019-02-07 00:00:00'),
 Timestamp('2013-01-15 00:00:00'),
 Timestamp('2016-07-22 00:00:00'),
 Timestamp('2019-11-19 00:00:00'),
 Timestamp('2012-10-18 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2019-02-13 00:00:00'),
 Timestamp('2012-03-12 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2017-05-25 00:00:00'),
 Timestamp('2014-02-24 00:00:00'),
 Timestamp('2009-02-07 00:00:00'),
 Timestamp('2009-11-19 00:00:00'),
 Timestamp('2011-04-13 00:00:00'),
 Timestamp('2014-11-12 00:00:00'),
 Timestamp('2010-06-28 00:00:00'),
 Timestamp('2013-01-29 00:00:00'),
 Timestamp('2015-08-05 00:00:00'),
 Timestamp('2008-08-26 00:00:00'),
 Timestamp('2019-11-25 00:00:00'),
 Timestamp('2012-10-24 00:00:00'),
 Timestamp('2021-05-27 00:00:00'),
 Timestamp('2020-07-20 00:00:00'),
 Timestamp('2015-08-11 00:00:00'),
 Timestamp('2013-12-23 00:00:00'),
 Timestamp('2017-05-19 00:00:00'),
 Timestamp('2012-10-30 00:00:00'),
 Timestamp('2013-09-27 00:00:00'),
 Timestamp('2018-08-26 00:00:00'),
 Timestamp('2014-02-18 00:00:00'),
 Timestamp('2009-11-25 00:00:00'),
 Timestamp('2014-11-06 00:00:00'),
 Timestamp('2018-06-15 00:00:00'),
 Timestamp('2013-07-14 00:00:00'),
 Timestamp('2019-04-06 00:00:00'),
 Timestamp('2012-05-07 00:00:00'),
 Timestamp('2017-03-30 00:00:00'),
 Timestamp('2016-01-23 00:00:00'),
 Timestamp('2020-01-09 00:00:00'),
 Timestamp('2021-10-04 00:00:00'),
 Timestamp('2020-12-17 00:00:00'),
 Timestamp('2009-04-12 00:00:00'),
 Timestamp('2011-11-18 00:00:00'),
 Timestamp('2008-06-01 00:00:00'),
 Timestamp('2015-06-22 00:00:00'),
 Timestamp('2011-02-06 00:00:00'),
 Timestamp('2020-09-13 00:00:00'),
 Timestamp('2020-09-07 00:00:00'),
 Timestamp('2009-04-06 00:00:00'),
 Timestamp('2014-04-25 00:00:00'),
 Timestamp('2008-06-15 00:00:00'),
 Timestamp('2011-02-12 00:00:00'),
 Timestamp('2021-10-10 00:00:00'),
 Timestamp('2020-12-03 00:00:00'),
 Timestamp('2018-06-01 00:00:00'),
 Timestamp('2016-12-29 00:00:00'),
 Timestamp('2012-05-13 00:00:00'),
 Timestamp('2019-04-12 00:00:00'),
 Timestamp('2017-03-24 00:00:00'),
 Timestamp('2021-03-26 00:00:00'),
 Timestamp('2016-12-01 00:00:00'),
 Timestamp('2018-06-29 00:00:00'),
 Timestamp('2013-07-28 00:00:00'),
 Timestamp('2017-10-12 00:00:00'),
 Timestamp('2011-11-24 00:00:00'),
 Timestamp('2016-09-05 00:00:00'),
 Timestamp('2011-11-30 00:00:00'),
 Timestamp('2014-04-19 00:00:00'),
 Timestamp('2008-06-29 00:00:00'),
 Timestamp('2016-09-11 00:00:00'),
 Timestamp('2016-12-15 00:00:00'),
 Timestamp('2017-10-06 00:00:00'),
 Timestamp('2017-03-18 00:00:00'),
 Timestamp('2010-08-27 00:00:00'),
 Timestamp('2020-01-21 00:00:00'),
 Timestamp('2016-05-20 00:00:00'),
 Timestamp('2018-11-08 00:00:00'),
 Timestamp('2013-10-09 00:00:00'),
 Timestamp('2013-03-17 00:00:00'),
 Timestamp('2018-02-16 00:00:00'),
 Timestamp('2012-01-04 00:00:00'),
 Timestamp('2014-08-28 00:00:00'),
 Timestamp('2021-07-19 00:00:00'),
 Timestamp('2010-04-16 00:00:00'),
 Timestamp('2011-06-05 00:00:00'),
 Timestamp('2008-02-02 00:00:00'),
 Timestamp('2015-02-21 00:00:00'),
 Timestamp('2010-04-02 00:00:00'),
 Timestamp('2008-11-08 00:00:00'),
 Timestamp('2011-06-11 00:00:00'),
 Timestamp('2008-02-16 00:00:00'),
 Timestamp('2017-07-27 00:00:00'),
 Timestamp('2018-02-02 00:00:00'),
 Timestamp('2013-03-03 00:00:00'),
 Timestamp('2012-01-10 00:00:00'),
 Timestamp('2021-07-25 00:00:00'),
 Timestamp('2012-12-26 00:00:00'),
 Timestamp('2014-08-14 00:00:00'),
 Timestamp('2015-11-03 00:00:00'),
 Timestamp('2008-11-20 00:00:00'),
 Timestamp('2019-08-23 00:00:00'),
 Timestamp('2012-09-22 00:00:00'),
 Timestamp('2015-11-17 00:00:00'),
 Timestamp('2015-02-09 00:00:00'),
 Timestamp('2013-10-21 00:00:00'),
 Timestamp('2018-11-20 00:00:00'),
 Timestamp('2016-05-08 00:00:00'),
 Timestamp('2009-08-23 00:00:00'),
 Timestamp('2020-05-22 00:00:00'),
 Timestamp('2021-07-31 00:00:00'),
 Timestamp('2021-09-02 00:00:00'),
 Timestamp('2017-09-28 00:00:00'),
 Timestamp('2010-02-17 00:00:00'),
 Timestamp('2010-11-09 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2008-04-03 00:00:00'),
 Timestamp('2009-06-10 00:00:00'),
 Timestamp('2020-10-15 00:00:00'),
 Timestamp('2021-12-06 00:00:00'),
 Timestamp('2021-01-18 00:00:00'),
 Timestamp('2016-03-21 00:00:00'),
 Timestamp('2019-06-04 00:00:00'),
 Timestamp('2012-07-05 00:00:00'),
 Timestamp('2018-04-17 00:00:00'),
 Timestamp('2013-05-16 00:00:00'),
 Timestamp('2017-01-26 00:00:00'),
 Timestamp('2012-07-11 00:00:00'),
 Timestamp('2019-06-10 00:00:00'),
 Timestamp('2013-05-02 00:00:00'),
 Timestamp('2018-04-03 00:00:00'),
 Timestamp('2020-10-01 00:00:00'),
 Timestamp('2021-12-12 00:00:00'),
 Timestamp('2010-02-03 00:00:00'),
 Timestamp('2008-04-17 00:00:00'),
 Timestamp('2014-06-27 00:00:00'),
 Timestamp('2009-06-04 00:00:00'),
 Timestamp('2021-09-16 00:00:00'),
 Timestamp('2017-09-14 00:00:00'),
 Timestamp('2011-08-22 00:00:00'),
 Timestamp('2017-12-10 00:00:00'),
 Timestamp('2016-10-03 00:00:00'),
 Timestamp('2020-10-29 00:00:00'),
 Timestamp('2021-01-24 00:00:00'),
 Timestamp('2021-01-30 00:00:00'),
 Timestamp('2020-03-23 00:00:00'),
 Timestamp('2016-03-09 00:00:00'),
 Timestamp('2017-12-04 00:00:00'),
 Timestamp('2016-10-17 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2010-11-21 00:00:00'),
 Timestamp('2016-10-16 00:00:00'),
 Timestamp('2017-12-05 00:00:00'),
 Timestamp('2016-03-08 00:00:00'),
 Timestamp('2020-03-22 00:00:00'),
 Timestamp('2021-01-31 00:00:00'),
 Timestamp('2010-11-20 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2017-09-01 00:00:00'),
 Timestamp('2017-09-15 00:00:00'),
 Timestamp('2021-01-25 00:00:00'),
 Timestamp('2020-10-28 00:00:00'),
 Timestamp('2016-10-02 00:00:00'),
 Timestamp('2017-12-11 00:00:00'),
 Timestamp('2011-08-23 00:00:00'),
 Timestamp('2021-12-13 00:00:00'),
 Timestamp('2018-04-02 00:00:00'),
 Timestamp('2013-05-03 00:00:00'),
 Timestamp('2019-06-11 00:00:00'),
 Timestamp('2012-07-10 00:00:00'),
 Timestamp('2017-01-27 00:00:00'),
 Timestamp('2021-09-17 00:00:00'),
 Timestamp('2014-06-26 00:00:00'),
 Timestamp('2009-06-05 00:00:00'),
 Timestamp('2008-04-16 00:00:00'),
 Timestamp('2010-02-02 00:00:00'),
 Timestamp('2009-06-11 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2008-04-02 00:00:00'),
 Timestamp('2010-11-08 00:00:00'),
 Timestamp('2010-02-16 00:00:00'),
 Timestamp('2017-09-29 00:00:00'),
 Timestamp('2021-09-03 00:00:00'),
 Timestamp('2013-05-17 00:00:00'),
 Timestamp('2018-04-16 00:00:00'),
 Timestamp('2012-07-04 00:00:00'),
 Timestamp('2019-06-05 00:00:00'),
 Timestamp('2016-03-20 00:00:00'),
 Timestamp('2021-01-19 00:00:00'),
 Timestamp('2021-12-07 00:00:00'),
 Timestamp('2020-10-14 00:00:00'),
 Timestamp('2015-02-08 00:00:00'),
 Timestamp('2015-11-16 00:00:00'),
 Timestamp('2021-07-30 00:00:00'),
 Timestamp('2020-05-23 00:00:00'),
 Timestamp('2009-08-22 00:00:00'),
 Timestamp('2014-08-01 00:00:00'),
 Timestamp('2016-05-09 00:00:00'),
 Timestamp('2018-11-21 00:00:00'),
 Timestamp('2013-10-20 00:00:00'),
 Timestamp('2014-08-15 00:00:00'),
 Timestamp('2012-12-27 00:00:00'),
 Timestamp('2021-07-24 00:00:00'),
 Timestamp('2012-09-23 00:00:00'),
 Timestamp('2019-08-22 00:00:00'),
 Timestamp('2015-11-02 00:00:00'),
 Timestamp('2008-11-21 00:00:00'),
 Timestamp('2008-02-17 00:00:00'),
 Timestamp('2011-06-10 00:00:00'),
 Timestamp('2008-11-09 00:00:00'),
 Timestamp('2010-04-03 00:00:00'),
 Timestamp('2012-01-11 00:00:00'),
 Timestamp('2013-03-02 00:00:00'),
 Timestamp('2018-02-03 00:00:00'),
 Timestamp('2017-07-26 00:00:00'),
 Timestamp('2021-07-18 00:00:00'),
 Timestamp('2014-08-29 00:00:00'),
 Timestamp('2012-01-05 00:00:00'),
 Timestamp('2018-02-17 00:00:00'),
 Timestamp('2013-03-16 00:00:00'),
 Timestamp('2013-10-08 00:00:00'),
 Timestamp('2018-11-09 00:00:00'),
 Timestamp('2016-05-21 00:00:00'),
 Timestamp('2008-02-03 00:00:00'),
 Timestamp('2015-02-20 00:00:00'),
 Timestamp('2011-06-04 00:00:00'),
 Timestamp('2010-04-17 00:00:00'),
 Timestamp('2016-09-10 00:00:00'),
 Timestamp('2008-06-28 00:00:00'),
 Timestamp('2014-04-18 00:00:00'),
 Timestamp('2020-01-20 00:00:00'),
 Timestamp('2010-08-26 00:00:00'),
 Timestamp('2017-03-19 00:00:00'),
 Timestamp('2017-10-07 00:00:00'),
 Timestamp('2016-12-14 00:00:00'),
 Timestamp('2017-10-13 00:00:00'),
 Timestamp('2013-07-29 00:00:00'),
 Timestamp('2018-06-28 00:00:00'),
 Timestamp('2021-03-27 00:00:00'),
 Timestamp('2016-09-04 00:00:00'),
 Timestamp('2011-11-25 00:00:00'),
 Timestamp('2011-02-13 00:00:00'),
 Timestamp('2008-06-14 00:00:00'),
 Timestamp('2009-04-07 00:00:00'),
 Timestamp('2014-04-24 00:00:00'),
 Timestamp('2020-09-06 00:00:00'),
 Timestamp('2017-03-25 00:00:00'),
 Timestamp('2019-04-13 00:00:00'),
 Timestamp('2012-05-12 00:00:00'),
 Timestamp('2016-12-28 00:00:00'),
 Timestamp('2013-07-01 00:00:00'),
 Timestamp('2020-12-02 00:00:00'),
 Timestamp('2021-10-11 00:00:00'),
 Timestamp('2020-12-16 00:00:00'),
 Timestamp('2021-10-05 00:00:00'),
 Timestamp('2020-01-08 00:00:00'),
 Timestamp('2016-01-22 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2012-05-06 00:00:00'),
 Timestamp('2019-04-07 00:00:00'),
 Timestamp('2013-07-15 00:00:00'),
 Timestamp('2018-06-14 00:00:00'),
 Timestamp('2020-09-12 00:00:00'),
 Timestamp('2011-02-07 00:00:00'),
 Timestamp('2015-06-23 00:00:00'),
 Timestamp('2011-11-19 00:00:00'),
 Timestamp('2014-04-30 00:00:00'),
 Timestamp('2009-04-13 00:00:00'),
 Timestamp('2019-11-30 00:00:00'),
 Timestamp('2012-10-31 00:00:00'),
 Timestamp('2017-05-18 00:00:00'),
 Timestamp('2013-12-22 00:00:00'),
 Timestamp('2015-08-10 00:00:00'),
 Timestamp('2020-07-21 00:00:00'),
 Timestamp('2009-11-24 00:00:00'),
 Timestamp('2014-11-07 00:00:00'),
 Timestamp('2014-02-19 00:00:00'),
 Timestamp('2018-08-27 00:00:00'),
 Timestamp('2013-09-26 00:00:00'),
 Timestamp('2010-06-29 00:00:00'),
 Timestamp('2014-11-13 00:00:00'),
 Timestamp('2009-11-30 00:00:00'),
 Timestamp('2021-05-26 00:00:00'),
 Timestamp('2012-10-25 00:00:00'),
 Timestamp('2019-11-24 00:00:00'),
 Timestamp('2015-08-04 00:00:00'),
 Timestamp('2013-01-28 00:00:00'),
 Timestamp('2008-08-27 00:00:00'),
 Timestamp('2017-05-24 00:00:00'),
 Timestamp('2012-03-13 00:00:00'),
 Timestamp('2019-02-12 00:00:00'),
 Timestamp('2010-06-01 00:00:00'),
 Timestamp('2011-04-12 00:00:00'),
 Timestamp('2009-11-18 00:00:00'),
 Timestamp('2014-02-25 00:00:00'),
 Timestamp('2009-02-06 00:00:00'),
 Timestamp('2010-06-15 00:00:00'),
 Timestamp('2011-04-06 00:00:00'),
 Timestamp('2009-02-12 00:00:00'),
 Timestamp('2017-05-30 00:00:00'),
 Timestamp('2012-10-19 00:00:00'),
 Timestamp('2019-11-18 00:00:00'),
 Timestamp('2016-07-23 00:00:00'),
 Timestamp('2013-01-14 00:00:00'),
 Timestamp('2019-02-06 00:00:00'),
 Timestamp('2012-03-07 00:00:00'),
 Timestamp('2020-07-09 00:00:00'),
 Timestamp('2013-12-31 00:00:00'),
 Timestamp('2016-07-18 00:00:00'),
 Timestamp('2019-11-23 00:00:00'),
 Timestamp('2012-10-22 00:00:00'),
 Timestamp('2008-08-20 00:00:00'),
 Timestamp('2015-08-03 00:00:00'),
 Timestamp('2021-05-21 00:00:00'),
 Timestamp('2014-11-14 00:00:00'),
 Timestamp('2009-11-23 00:00:00'),
 Timestamp('2011-04-29 00:00:00'),
 Timestamp('2013-09-21 00:00:00'),
 Timestamp('2018-08-20 00:00:00'),
 Timestamp('2020-07-26 00:00:00'),
 Timestamp('2013-12-25 00:00:00'),
 Timestamp('2012-03-28 00:00:00'),
 Timestamp('2015-08-17 00:00:00'),
 Timestamp('2016-07-24 00:00:00'),
 Timestamp('2019-02-01 00:00:00'),
 Timestamp('2013-01-13 00:00:00'),
 Timestamp('2011-04-01 00:00:00'),
 Timestamp('2014-11-28 00:00:00'),
 Timestamp('2010-06-12 00:00:00'),
 Timestamp('2018-08-08 00:00:00'),
 Timestamp('2013-09-09 00:00:00'),
 Timestamp('2009-02-15 00:00:00'),
 Timestamp('2011-04-15 00:00:00'),
 Timestamp('2010-06-06 00:00:00'),
 Timestamp('2009-02-01 00:00:00'),
 Timestamp('2014-02-22 00:00:00'),
 Timestamp('2016-07-30 00:00:00'),
 Timestamp('2013-12-19 00:00:00'),
 Timestamp('2017-05-23 00:00:00'),
 Timestamp('2019-02-15 00:00:00'),
 Timestamp('2012-03-14 00:00:00'),
 Timestamp('2013-01-07 00:00:00'),
 Timestamp('2008-08-08 00:00:00'),
 Timestamp('2021-05-09 00:00:00'),
 Timestamp('2020-09-29 00:00:00'),
 Timestamp('2016-09-03 00:00:00'),
 Timestamp('2009-04-28 00:00:00'),
 Timestamp('2011-11-22 00:00:00'),
 Timestamp('2015-06-18 00:00:00'),
 Timestamp('2021-03-20 00:00:00'),
 Timestamp('2016-01-19 00:00:00'),
 Timestamp('2016-12-07 00:00:00'),
 Timestamp('2017-10-14 00:00:00'),
 Timestamp('2010-08-21 00:00:00'),
 Timestamp('2016-12-13 00:00:00'),
 Timestamp('2012-05-29 00:00:00'),
 Timestamp('2019-04-28 00:00:00'),
 Timestamp('2020-01-27 00:00:00'),
 Timestamp('2016-09-17 00:00:00'),
 Timestamp('2011-02-28 00:00:00'),
 Timestamp('2009-04-14 00:00:00'),
 Timestamp('2015-06-24 00:00:00'),
 Timestamp('2008-06-07 00:00:00'),
 Timestamp('2020-09-15 00:00:00'),
 Timestamp('2010-08-09 00:00:00'),
 Timestamp('2016-01-25 00:00:00'),
 Timestamp('2018-06-13 00:00:00'),
 Timestamp('2013-07-12 00:00:00'),
 Timestamp('2017-10-28 00:00:00'),
 Timestamp('2012-05-01 00:00:00'),
 Timestamp('2021-10-02 00:00:00'),
 Timestamp('2020-12-11 00:00:00'),
 Timestamp('2021-10-16 00:00:00'),
 Timestamp('2020-12-05 00:00:00'),
 Timestamp('2021-03-08 00:00:00'),
 Timestamp('2017-03-22 00:00:00'),
 Timestamp('2016-01-31 00:00:00'),
 Timestamp('2013-07-06 00:00:00'),
 Timestamp('2018-06-07 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2019-04-14 00:00:00'),
 Timestamp('2020-09-01 00:00:00'),
 Timestamp('2011-02-14 00:00:00'),
 Timestamp('2014-04-23 00:00:00'),
 Timestamp('2008-06-13 00:00:00'),
 Timestamp('2015-06-30 00:00:00'),
 Timestamp('2019-08-25 00:00:00'),
 Timestamp('2012-09-24 00:00:00'),
 Timestamp('2008-11-26 00:00:00'),
 Timestamp('2015-11-05 00:00:00'),
 Timestamp('2020-05-30 00:00:00'),
 Timestamp('2021-07-23 00:00:00'),
 Timestamp('2009-08-31 00:00:00'),
 Timestamp('2014-08-12 00:00:00'),
 Timestamp('2017-07-09 00:00:00'),
 Timestamp('2012-12-20 00:00:00'),
 Timestamp('2014-08-06 00:00:00'),
 Timestamp('2009-08-25 00:00:00'),
 Timestamp('2013-10-27 00:00:00'),
 Timestamp('2018-11-26 00:00:00'),
 Timestamp('2020-05-24 00:00:00'),
 Timestamp('2012-09-30 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2015-11-11 00:00:00'),
 Timestamp('2019-08-19 00:00:00'),
 Timestamp('2012-09-18 00:00:00'),
 Timestamp('2015-02-27 00:00:00'),
 Timestamp('2008-02-04 00:00:00'),
 Timestamp('2010-04-10 00:00:00'),

In [29]:
ppt_dates = df[df['data_type'] == 'ppt']['date'].tolist()
tmean_dates = df[df['data_type'] == 'tmean']['date'].tolist()

In [30]:
tmean_no_download = []
ppt_no_download = []
for date in dates:
    if date not in ppt_dates:
        ppt_no_download.append(date)
        #print(date)
    if date not in tmean_dates:
        tmean_no_download.append(date)
        #print(date)

In [31]:
len(ppt_dates)

5114

In [32]:
len(tmean_dates)

5114

In [33]:
len(dates)

5114

In [34]:
ppt_no_download

[]

In [35]:
df = pd.read_csv('/Users/edwardamoah/Documents/GitHub/OsmiaPopModel/output/emergence_reproduction.csv')
df

,col,row,grid_id,emergence_2008,reproduction_2008,emergence_2009,reproduction_2009,emergence_2010,reproduction_2010,emergence_2011,...,emergence_2017,reproduction_2017,emergence_2018,reproduction_2018,emergence_2019,reproduction_2019,emergence_2020,reproduction_2020,emergence_2021,reproduction_2021
0,1083,184,1083_184,2008-04-24,2,2009-05-05,20,2010-04-27,10,2011-05-07,...,2017-04-13,6,2018-05-06,24,2019-05-04,14,2020-05-05,16,2021-04-10,2
1,1084,184,1084_184,2008-04-23,4,2009-05-03,16,2010-04-26,10,2011-05-07,...,2017-04-13,8,2018-05-05,22,2019-05-04,14,2020-05-05,16,2021-04-10,4
2,1085,184,1085_184,2008-04-23,8,2009-05-02,18,2010-04-18,10,2011-05-03,...,2017-04-12,8,2018-05-05,24,2019-05-03,12,2020-05-04,16,2021-04-10,2
3,1086,184,1086_184,2008-04-23,10,2009-04-30,14,2010-04-16,10,2011-05-03,...,2017-04-11,8,2018-05-04,24,2019-04-27,4,2020-05-02,12,2021-04-10,2
4,1081,185,1081_185,2008-04-24,2,2009-05-03,16,2010-04-26,10,2011-05-04,...,2017-04-12,8,2018-05-06,22,2019-05-03,12,2020-05-04,14,2021-04-10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7447,1178,245,1178_245,2008-04-12,18,2009-04-20,24,2010-04-03,12,2011-04-15,...,2017-03-29,14,2018-04-18,18,2019-04-14,20,2020-04-05,2,2021-04-07,4
7448,1179,245,1179_245,2008-04-12,18,2009-04-12,18,2010-04-03,12,2011-04-15,...,2017-03-29,14,2018-04-18,18,2019-04-14,22,2020-04-06,2,2021-04-08,6
7449,1180,245,1180_245,2008-04-10,18,2009-04-12,18,2010-04-02,14,2011-04-13,...,2017-03-27,12,2018-04-17,16,2019-04-14,22,2020-04-06,2,2021-04-08,6
7450,1181,245,1181_245,2008-04-10,18,2009-04-11,16,2010-04-02,14,2011-04-13,...,2017-03-27,12,2018-04-16,14,2019-04-14,20,2020-04-05,2,2021-04-07,4
7451,1182,245,1182_245,2008-04-07,22,2009-04-07,10,2010-04-02,14,2011-04-13,...,2017-03-27,14,2018-04-15,12,2019-04-13,22,2020-04-01,4,2021-04-07,4

In [36]:
forage = pd.read_csv('/Users/edwardamoah/Documents/GitHub/OsmiaPopModel/output/foraging_quality_pennsylvania_data.csv')
forage

,Unnamed: 0,col,row,lon,lat,Forage_CDL2021_1km_spring_NationalRaster,Forage_CDL2020_1km_spring_NationalRaster,Forage_CDL2019_1km_spring_NationalRaster,Forage_CDL2018_1km_spring_NationalRaster,Forage_CDL2017_1km_spring_NationalRaster,Forage_CDL2016_1km_spring_NationalRaster,Forage_CDL2015_1km_spring_NationalRaster,Forage_CDL2014_1km_spring_NationalRaster,Forage_CDL2013_1km_spring_NationalRaster,Forage_CDL2012_1km_spring_NationalRaster,Forage_CDL2011_1km_spring_NationalRaster,Forage_CDL2010_1km_spring_NationalRaster,Forage_CDL2009_1km_spring_NationalRaster,Forage_CDL2008_1km_spring_NationalRaster
0,1,1083,184,-79.875000,42.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1084,184,-79.833333,42.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1085,184,-79.791667,42.250000,119.482018,120.29808,120.029297,120.29808,124.29808,123.596169,124.482018,122.482018,123.482018,125.482018,139.29808,127.915146,123.29808,131.0
3,4,1086,184,-79.750000,42.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1081,185,-79.958333,42.208333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7447,7448,1178,245,-75.916667,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7448,7449,1179,245,-75.875000,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7449,7450,1180,245,-75.833333,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7450,7451,1181,245,-75.791667,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7451,7452,1182,245,-75.750000,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df['lon'] = forage['lon']
df['lat'] = forage['lat']

In [40]:
df.to_csv('/Users/edwardamoah/Documents/GitHub/OsmiaPopModel/osmiaPopModel_python/output/emergence_reproduction.csv', index=False)

In [39]:
forage

,Unnamed: 0,col,row,lon,lat,Forage_CDL2021_1km_spring_NationalRaster,Forage_CDL2020_1km_spring_NationalRaster,Forage_CDL2019_1km_spring_NationalRaster,Forage_CDL2018_1km_spring_NationalRaster,Forage_CDL2017_1km_spring_NationalRaster,Forage_CDL2016_1km_spring_NationalRaster,Forage_CDL2015_1km_spring_NationalRaster,Forage_CDL2014_1km_spring_NationalRaster,Forage_CDL2013_1km_spring_NationalRaster,Forage_CDL2012_1km_spring_NationalRaster,Forage_CDL2011_1km_spring_NationalRaster,Forage_CDL2010_1km_spring_NationalRaster,Forage_CDL2009_1km_spring_NationalRaster,Forage_CDL2008_1km_spring_NationalRaster
0,1,1083,184,-79.875000,42.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1084,184,-79.833333,42.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1085,184,-79.791667,42.250000,119.482018,120.29808,120.029297,120.29808,124.29808,123.596169,124.482018,122.482018,123.482018,125.482018,139.29808,127.915146,123.29808,131.0
3,4,1086,184,-79.750000,42.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1081,185,-79.958333,42.208333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7447,7448,1178,245,-75.916667,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7448,7449,1179,245,-75.875000,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7449,7450,1180,245,-75.833333,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7450,7451,1181,245,-75.791667,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7451,7452,1182,245,-75.750000,39.708333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN